
.form-container {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
.form-box {
    border: 0vw;
    width: 95%;
    box-sizing: border-box;
    display: inline-block;
}

.form-text {
    flex: 1;
    font-weight: normal; /* Ensure no bold text here */
}

.form-button {
    flex: 1;
    text-align: right;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    text-align: center;
    background-color: gray;
    text-emphasis-color: black;
    width: 100%;
}

header {
    border: 2px solid red;
    margin: auto;
    width: auto;
    height: auto;
}

.container {
    margin: auto;
    /* width: 1200px; */
    display: flex;
}

.box {
    border: 0vw;
    width: 95%;
    box-sizing: border-box;
    display: inline-block;
}

.table-container {
    width: 100%;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}
#name {
        width: 90%; /* The input will take 100% width of its parent */
        padding: 8px; /* Optional: add some padding for aesthetics */
        box-sizing: border-box; /* Ensures padding doesn't overflow the width */
    }