body {
    background-color: lightgrey;
  }
  .red {
    color: red;
  }
  #pid {
    background-color: cyan;
    color: blue;
  }
  div p {
    background-color: cyan;
    color: cornsilk;
  }
  h1,
  h2,
  h3 {
    color: maroon;
  }
  